.wrapper {
  font-size: 72px;
  // font-weight: bold;
  text-align: center;

  /* Stop double click select */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.number {
  color: indianred;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  color: silver;
  font-family: ABCSerif, "Book Antiqua", "Palatino Linotype", Palatino, serif;
  font-size: 96px;
}
